@use '../../scss/base/colors';

.rM {
    padding: 5rem 0;
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        gap: 7rem;
    }

    &__bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        height: 100%;
        position: relative;
        top: -3.6rem
    }
}