@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';
@use '../../scss/base/fonts';

.cRM {


    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__title {
        display: flex;
        font-size: vars.$font-size-title-default;
        margin-bottom: 2rem;
    }

    &__box {
        display: flex;
        align-items: start;
        justify-content: space-between;
        min-height: 12rem;
        overflow: hidden;
    }


    &__img {
        height: 15rem;
        position: absolute;
        right: 0;
        bottom: 0px;
        z-index: -10;
        opacity: .4;
    }

    &__text {
        overflow-wrap: break-word; 
    }

}



