@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';
@use '../../scss/base/fonts';

.cRM {

    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: .5rem;
    }

    &__title {
        display: flex;
        font-size: vars.$font-size-title-default;
        margin-bottom: 2rem;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__img {
        width: 14rem;
        height: 100%;
        padding: 1rem;
    }

}

@media (max-width: 495px) {
    .cRM {
        &__img {
            width: 9rem;
        }
    }
}