@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';

.youtubers {
    position: relative;
    padding: vars.$padding-curves 4rem;
    
    &__slider {
        padding: 0 1rem;
    }

    &__add {
        margin-top: 2rem;
        text-align: center;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0rem;
        z-index: -3;
    }
}

.slick-prev:before,
.slick-next:before {
    color:colors.$dark; 
}


