@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';

.youtubers {
    position: relative;
    background: linear-gradient(15deg, colors.$primary-op, colors.$secondary-op, colors.$tertiary-op) no-repeat;
    padding: vars.$padding-curves 2rem;
    
    &__slider {
        padding: 0 1rem;
    }
}

.slick-prev:before,
.slick-next:before {
    color:colors.$dark; 
}