@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';
@use '../../scss/abstracts/mixins';

.cC {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;

    @include mixins.tooltip-styles;

    &__icon {
        width: vars.$icon-width-default;
        height: 100%;
        padding: .65rem 0;
    }

    &__rectangle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: colors.$dark;
    }

}


@media (max-width: 899px) {
    .cC {
        flex-direction: column-reverse;
        gap: 1rem;
        
        &__tooltip {
            background-color: colors.$light;
            border-radius: 4rem;
        }

        &__icon {
            width: 1.6rem;
            height: 100%;
            padding: 1rem;

        }

        &__text {
            font-size: 1.4rem;
        }
    }
}