@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';

.bar {
    position: relative;
    width: 100vw;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__first,
    &__second {
        width: 110vw;
        height: 7rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        background: linear-gradient(15deg, colors.$primary, colors.$secondary, colors.$tertiary) no-repeat;
        background-size: 200%;
        box-shadow: vars.$os-box-shadow;
        -webkit-box-shadow: vars.$os-box-shadow;
        -moz-box-shadow: vars.$os-box-shadow;
    }

    &__first {
        position: absolute;
        transform: rotate(-3deg);
        left: -100px;
        /* -100 bcose 110vw */
        opacity: 0.5;
    }

    &__second {
        position: absolute;
        transform: rotate(3deg);
        left: -100px;
        /* -100 bcose 110vw */
        opacity: 0.8;
    }

    &__container {
        width: calc(100% - vars.$os-border);
        height: calc(100% - vars.$os-border);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: #ffffffec;
        backdrop-filter: blur(10px);
    }

    &__text {
        color: white;
    }

    &__bg {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &--false {
            background-color: vars.$os-bg-false-color;
            backdrop-filter: blur(vars.$os-blur);

            &>p {
                color: colors.$dark;
            }
        }

        &--true {
            background-color: vars.$os-bg-true-color;
            backdrop-filter: blur(vars.$os-blur);

            &>p {
                color: colors.$white;
            }
        }
    }
}


@media (max-width: 1032px) {
    .bar {

        &__first {
            position: absolute;
            transform: rotate(-6deg);
            left: -20px;
            opacity: 0.5;
        }
    
        &__second {
            position: absolute;
            transform: rotate(6deg);
            left: -20px;
            opacity: 0.8;
        }

    }
}

@keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }