@use '../../scss/base/fonts';
@use '../../scss/base/colors';

.tS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 6rem 0;

    &__title {
        font-weight: bold;
        font-size: 6rem;
        font-weight: 200;
        color: colors.$dark;
        text-align: center;
    }

    &__subtitle {
        color: colors.$dark;
        font-weight: 200;
        font-size: 2.2rem;
        text-align: center;
    }
}