@use '../../scss/base/fonts';
@use '../../scss/base/colors';

.tS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 6rem 0;

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        &--reversed {
            flex-direction: row-reverse;
        }
    }

    &__subtitle {
        font-family: fonts.$general-font-secondary;
        color: colors.$dark;
        font-weight: bold;
    }

    &__img {
        width: 10rem;

        &--mirrored {
            transform: scaleX(-1);
        }
    }

    &__title {
        font-family: fonts.$general-font-secondary;
        font-weight: bold;
        font-size: 6rem;
        font-weight: 200;
        color: colors.$dark;
    }

    &__img--flipped {
        transform: scaleX(-1);
    }
}