@use '../../scss/abstracts/vars';

.aU {
    position: relative;
    margin-top: calc(vars.$padding-section / 2);

    &__box {
        display: flex;
        gap: 2rem;
        position: relative;
        padding: 0 2rem;
    }

    &__container {
        position: relative;
    }


    &__text {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    &__cards {
        flex: 1;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 11rem;
    }
    
}