@use '../../scss/abstracts/vars';

.aU {

    padding: 4rem 0 7rem 0;

    &__box {
        display: flex;
        gap: 2rem;
    }

    &__img {
        width: 33rem;
        height: 33rem;
    }

    &__text {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__cards {
        flex: 1;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 11rem;
    }
    
}