
$primary: #ffee07;
$secondary: #DC1FFF;
$tertiary: #ffee07;
$primary-op: #ffee0723;
$secondary-op: #dd1fff23;
$tertiary-op: #ffee0723;
$dark: #1d1b21;
$white: #fff;
$light: #f7f7f7f7;
$gray: #b6b6b6;
$darkgray: #bbbbbb;


/*
$primary: #03E1FF;
$secondary: #DC1FFF;
$tertiary: #00FFA3;
$primary-op: #03e2ff10;
$secondary-op: #DC1FFF10;
$tertiary-op: #00FFA310;

*/