@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';
@use '../../scss/base/fonts';

.cI {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background: linear-gradient(15deg, colors.$primary, colors.$secondary, colors.$tertiary) no-repeat;
    background-size: 200%;
    transition: all .3s ease;
    box-shadow: vars.$os-box-shadow;
    -webkit-box-shadow: vars.$os-box-shadow;
    -moz-box-shadow: vars.$os-box-shadow;
    height: 12rem;
    border-radius: 3.2rem;
    padding: .2rem;

    &:hover {
        background-position: right center;
    }

    &__bg {
        height: 100%;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
        

        &--true {
            background-color: black;
            backdrop-filter: blur(vars.$os-blur);

            & > .bD__text {
                color: colors.$white;
            }
        }

        &--false {
            background-color: vars.$os-bg-false-color;
            backdrop-filter: blur(vars.$os-blur);

            & > .bD__text {
                color: colors.$white;
            }
        }
    }

    &__live {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__title, &__value {
        color: colors.$dark;
    }

    &__title {
        font-size: 16px;
    }

    &__value {
        font-size: 20px;
        text-align: center;

    }

}


