.partner {
    cursor: pointer;

    &__img {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__logo {
        width: 70%;
        max-width: 20rem;
        transition: transform 0.3s ease;
    }
}

.first__bg:hover {
    .partner__logo {
        transform: scale(1.1);
    }
}