@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';

.tokenomics {
    position: relative;
    background: linear-gradient(15deg, colors.$primary-op, colors.$secondary-op, colors.$tertiary-op) no-repeat;
    padding: vars.$padding-curves 0;

    &__boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

}