@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';

.buttonImage {
    border-radius: 1rem;
    border-top-right-radius: vars.$border-radius-default;
    border-bottom-right-radius: vars.$border-radius-default;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(15deg, colors.$primary, colors.$secondary, colors.$tertiary) no-repeat;
    background-size: 200%;
    transition: all .3s ease;
    box-shadow: vars.$os-box-shadow;
    -webkit-box-shadow: vars.$os-box-shadow;
    -moz-box-shadow: vars.$os-box-shadow;
    height: 4.4rem;

    &:hover {
        cursor: pointer;
        background-position: right center;
    }

    &__bg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - vars.$os-border);
        height: calc(100% - vars.$os-border);
        border-radius: 1rem;
        border-top-right-radius: vars.$border-radius-default;
        border-bottom-right-radius: vars.$border-radius-default;
        background-color: vars.$os-bg-true-color;
        backdrop-filter: blur(vars.$os-blur);
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3rem;
        gap: 1rem;
    }

    &__text {
        color: colors.$white;
    }

    &__icon {
        width: 1.2rem;
    }

    &__img {
        width: 4.4rem;
        left: -20px;
        position: relative;
    }
}