@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';
@use '../../scss/abstracts/mixins';

.hC {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: vars.$navbar-total-height + 4rem;
  overflow: hidden;
  position: relative;

  &__poly,
  &__polyMobile {
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 100%;
    top: -11rem;
    opacity: 1;

    &--mobile {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  &__box-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
  }

  &__box-2 {
    position: relative;
  }

  &__heads {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }

  &__head {
    position: absolute;

    &1 {
      width: 3rem;
      left: 6rem;
      opacity: .8;
      animation: floatAnimation 5s infinite ease-in-out alternate;
    }

    &2 {
      width: 5rem;
      top: 10rem;
      right: 0rem;
      opacity: .9;
      animation: floatAnimation 5s infinite ease-in-out alternate;

    }

    &3 {
      width: 7rem;
      top: 10rem;
      animation: floatAnimation 5s infinite ease-in-out alternate;
    }
  }

  &__principal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    flex: 1;
    color: colors.$white;
  }

  &__text {
    width: 100%;
    height: 100%;
  }

  &__subtitle {
    @include mixins.gradient-text(colors.$primary, colors.$secondary, colors.$tertiary, );
    font-size: 2.30rem;
  }

  &__title {
    font-size: 13rem;
    margin: -2rem 0;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
  }

  &__img {
    width: 100%;
    position: relative;
    z-index: 100;
  }

}

@media (max-width: 999.99px) {

  .hC {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__poly {
      display: none;

      &--mobile {
        display: flex;
      }
    }

    &__img {
      width: 50rem;
    }
  }

}

@media (max-width: 599.99px) {
  .hC {

    &__container {
      display: block;
    }

    &__btns {
      gap: 1rem;
    }

    &__subtitle {
      font-size: 2rem;
      text-align: center;
    }

    &__principal,
    &__secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &__title {
      font-size: 22.5vw;
      text-align: center;
    }

    &__img {
      width: 100%;
    }
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  25% {
    transform: translateY(-15px) rotate(-1deg);
  }

  50% {
    transform: translateY(0) rotate(0deg);
  }

  75% {
    transform: translateY(15px) rotate(1deg);
  }

  100% {
    transform: translateY(0) rotate(-1deg);
  }
}