@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';
@use '../../scss/abstracts/mixins';

.hC {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: vars.$navbar-total-height + 4rem;

  &__bg {
    object-fit: cover;
    position: absolute;
    opacity: 0.03;
    z-index: -10;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  &__box-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
  }

  &__title {
    flex: 1;
  }

  &__text {
    width: 100%;
    height: 100%;
  }

  &__subtitle {
    @include mixins.gradient-text(colors.$primary, colors.$secondary, colors.$tertiary, );
    font-size: 2.30rem;
  }

  &__title {
    font-size: 13rem;
    margin: -2rem 0;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
  }

  &__img {
    width: 100%;
  }

}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
    /* Puedes ajustar el valor para cambiar la distancia */
  }
}

@media (max-width: 1199px) {
  .hC {
      &__container {
        flex-direction: column;
        align-items: center;
      }
      &__box {
        &-2 {
            display: none;
        }
      }
  }
}

@media (max-width: 599px) {
    .hC {

      &__container {
        display: block;
      }

      &__btns {
        flex-direction: column;
      }

      &__subtitle {
        font-size: 2rem;
        text-align: center;
      }

      &__principal, &__secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      &__title {
        font-size: 21vw;
        text-align: center;
      }
    }
}