@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';
@use '../../scss/abstracts/mixins';

.nbLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    transition: all .3s ease;

    @include mixins.tooltip-styles;

    &:hover {
        background-color: colors.$light;

        .nbLink__minicircle {
            background-color: colors.$light;
        }
    }

    &__link {
        width: vars.$icon-width-default;
    }

    &__text {
        font-size: 10px;
        font-weight: bold;
    }

    &__minicircle {
        position: absolute;
        padding: .5rem;
        top: -8px;
        right: -8px;
        border-radius: 50%;
        transition: all .3s ease;
    }

}