// https://www.shapedivider.app 125 height 0 width

.custom-shape-divider-top-1711773586 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1711773586 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-top-1711773586 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1711773573 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711773573 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-bottom-1711773573 .shape-fill {
    fill: #FFFFFF;
}