@use '../../scss/base/colors';
@use '../../scss/abstracts/vars';

.ytber {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    margin: 1.5rem;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        color: colors.$gray;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &__title,
    &__yt {
        font-size: 1.5rem;
        color: colors.$dark;
    }

    &__yt {
        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__img {
        cursor: pointer;
        width: 100%;
        border-radius: 2rem;
        margin: 1rem 0;
        opacity: .95;
        transition: all .3s ease;
        opacity: .95;

        &:hover {
            opacity: 1;
        }
    }
}