/* -- BASE -- */
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/* VARS */
/* own style */
html {
  font-size: 62.5%;
  /* Establece 1 rem como 10px (10/16 * 100) */
}

h1 {
  font-size: 4.8rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

h2 {
  font-size: 3.6rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

h3 {
  font-size: 2.8rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

h4 {
  font-size: 2.6rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

h5 {
  font-size: 2.4rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

h6 {
  font-size: 2.2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

p {
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

a {
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

li {
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

span {
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

button {
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

label {
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

input {
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  color: #222126;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* -- ABSTRACTS -- */
/* -- MIXINS -- */
/* -- COMPONENTS -- */
/* - Header */
.header__bg {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0.06;
  z-index: -10;
}

.nb {
  height: 6rem;
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 2px 4px #bbbbbb;
  z-index: 100;
}
.nb__container {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nb__logo {
  height: 4.4rem;
}
.nb__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
.nb__left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 7rem;
}
.nb__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.nb__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
.nb__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.nb__item::before, .nb__item::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(15deg, #fff, #222126, #fff) no-repeat;
  display: block;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: 50% 0;
}
.nb__item::before {
  left: 0;
  transform-origin: 50% 100%;
}
.nb__item::after {
  right: 0;
}
.nb__item:hover::before, .nb__item:hover::after {
  transform: scaleX(1);
}

/* -- ABSTRACTS -- */
.nbLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.nbLink__tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.nbLink__tooltip .nbLink__tooltiptext {
  visibility: hidden;
  background-color: #b6b6b6;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0.4rem 1rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.3s ease;
}
.nbLink__tooltip .nbLink__tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent #b6b6b6 transparent;
  transform: translateX(-50%);
}
.nbLink__tooltip:hover .nbLink__tooltiptext {
  visibility: visible;
  opacity: 1;
}
.nbLink:hover {
  background-color: #f3f3f3;
}
.nbLink__link {
  width: 1.6rem;
}

.buttonImage {
  border-radius: 1rem;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: linear-gradient(15deg, #03E1FF, #DC1FFF, #00FFA3) no-repeat;
  background-size: 200%;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  height: 4.4rem;
}
.buttonImage:hover {
  cursor: pointer;
  background-position: right center;
}
.buttonImage__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 1rem;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;
  background-color: rgba(255, 255, 255, 0.2117647059);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
.buttonImage__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  gap: 1rem;
}
.buttonImage__text {
  color: #fff;
}
.buttonImage__icon {
  width: 1.2rem;
}
.buttonImage__img {
  width: 4.4rem;
  left: -20px;
  position: relative;
}

.bD {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: linear-gradient(15deg, #03E1FF, #DC1FFF, #00FFA3) no-repeat;
  background-size: 200%;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  height: 5.4rem;
  width: 100%;
  border-radius: 8rem;
}
.bD:hover {
  cursor: pointer;
  background-position: right center;
}
.bD__bg {
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.bD__bg--true {
  background-color: rgba(255, 255, 255, 0.2117647059);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
.bD__bg--true > .bD__text {
  color: #fff;
}
.bD__bg--false {
  background-color: rgba(255, 255, 255, 0.9254901961);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
.bD__bg--false > .bD__text {
  color: #222126;
}
.bD__icon {
  width: 1.2rem;
}

.hC {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 14rem; /* 8rem nav + 6rem spacing*/
  /* 1ST BOX */
  /* 2ND BOX */
}
.hC__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.hC__box-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3rem;
}
.hC__title {
  flex: 1;
}
.hC__text {
  width: 100%;
  height: 100%;
}
.hC__box-subtitle {
  border-radius: 8rem;
  background-color: #222126;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hC__subtitle {
  padding: 0.5rem 0;
  color: #fff;
  font-weight: 200;
  font-size: 1.6rem;
  height: 100%;
}
.hC__title {
  font-size: 13rem;
  margin: -2rem 0;
}
.hC__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.hC__img {
  width: 100%;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px); /* Puedes ajustar el valor para cambiar la distancia */
  }
}
.rM {
  background: linear-gradient(15deg, rgba(0, 255, 163, 0.01), rgba(3, 225, 255, 0.05), rgba(220, 31, 255, 0.09)) no-repeat;
  padding: 10rem 0;
  position: relative;
}
.rM__steps {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
.rM__bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rM__img {
  height: 100%;
  position: relative;
  top: -3.6rem;
}

.aU {
  padding-bottom: 10rem;
}
.aU__box {
  display: flex;
  gap: 2rem;
}
.aU__text {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.aU__cards {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 11rem;
}

/* -- BASE -- */
.cI {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.cI__title {
  font-family: "Caveat", monospace;
}
.bar {
  position: relative;
  width: 100vw;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar__first, .bar__second {
  width: 110vw;
  height: 7rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: linear-gradient(15deg, #03E1FF, #DC1FFF, #00FFA3) no-repeat;
  background-size: 200%;
  box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 11px -9px rgba(0, 0, 0, 0.35);
}
.bar__first {
  position: absolute;
  background-color: rgb(223, 74, 74);
  transform: rotate(-3deg);
  left: -100px;
  /* -100 bcose 110vw */
  opacity: 0.5;
}
.bar__second {
  position: absolute;
  background-color: rgb(197, 23, 23);
  transform: rotate(3deg);
  left: -100px;
  /* -100 bcose 110vw */
  opacity: 0.8;
}
.bar__container {
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.9254901961);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.bar__text {
  color: white;
}
.bar__bg {
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.bar__bg--false {
  background-color: rgba(255, 255, 255, 0.9254901961);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
.bar__bg--false > p {
  color: #222126;
}
.bar__bg--true {
  background-color: rgba(255, 255, 255, 0.2117647059);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
.bar__bg--true > p {
  color: #fff;
}

/* -- ABSTRACTS -- */
.cC {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cC__tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.cC__tooltip .cC__tooltiptext {
  visibility: hidden;
  background-color: #b6b6b6;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0.4rem 1rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.3s ease;
}
.cC__tooltip .cC__tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent #b6b6b6 transparent;
  transform: translateX(-50%);
}
.cC__tooltip:hover .cC__tooltiptext {
  visibility: visible;
  opacity: 1;
}
.cC__icon {
  width: 1.6rem;
  height: 100%;
  padding: 0.65rem 0;
}
.cC__rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #222126;
}

/* -- BASE -- */
.tS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 6rem 0;
}
.tS__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.tS__subtitle {
  font-family: "Caveat", monospace;
}
.tS__img {
  width: 10rem;
}
.tS__title {
  font-family: "Caveat", monospace;
  font-weight: bold;
  font-size: 6rem;
  font-weight: 200;
}
.tS__img--flipped {
  transform: scaleX(-1);
}

/* -- BASE -- */
.cRM__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cRM__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
.cRM__box {
  display: flex;
  flex-direction: row;
  position: relative;
}
.cRM__img {
  width: 14rem;
  height: 100%;
  padding: 1rem;
}

.check {
  width: 1.8rem;
  height: 1.8rem;
  background: linear-gradient(15deg, #03E1FF, #DC1FFF, #00FFA3) no-repeat;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check__bg {
  background-color: rgba(255, 255, 255, 0.9254901961);
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check__bg--checked {
  background-color: rgba(255, 255, 255, 0.2117647059);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
.check__check {
  width: 0.9rem;
}

.custom-shape-divider-top-1711773586 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1711773586 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 125px;
}

.custom-shape-divider-top-1711773586 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1711773573 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711773573 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 125px;
}

.custom-shape-divider-bottom-1711773573 .shape-fill {
  fill: #FFFFFF;
}